name: upload oss
# 构建到master分支
on:
  push: 
    branches: 
      - master
  pull_request: 
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@master

      - name: setup-ossutil
        uses: manyuanrong/setup-ossutil@master
        with:
          endpoint: oss-cn-beijing.aliyuncs.com
          access-key-id: ${{ secrets.ALIYUN_ACCESS_KEY_ID }}
          access-key-secret: ${{ secrets.ALIYUN_ACCESS_KEY_SECRET }}

      - name: ossutil-cp
        run: ossutil cp ./ oss://bucket2000/tectonic-action -rf

      - name: cos-action
        uses: TencentCloud/cos-action@v1
        with:
          secret_id: ${{ secrets.TENCENT_CLOUD_SECRET_ID }}
          secret_key: ${{ secrets.TENCENT_CLOUD_SECRET_KEY }}
          cos_bucket: ${{ secrets.COS_BUCKET }}
          cos_region: ${{ secrets.COS_REGION }}
          local_path: build
          remote_path: docroot/static
          clean: true
