name: upload oss

on:
  push: 
    branches: master
  pull_request: 
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@master

      - name: setup-ossutil
        uses: manyuanrong/setup-ossutil@master
        with:
          endpoint: oss-cn-beijing.aliyuncs.com
          access-key-id: ${{ secrets.ALIYUN_ACCESS_KEY_ID }}
          access-key-secret: ${{ secrets.ALIYUN_ACCESS_KEY_SECRET }}

      - name: oss-cp
        run: ossutil cp ./ oss://bucket2000/tectonic-action -rf

      - name: cos-action
        uses: TencentCloud/cos-action@master
        with:
          secret_id: ${{ secrets.TENCENT_CLOUD_SECRET_ID }}
          secret_key: ${{ secrets.TENCENT_CLOUD_SECRET_KEY }}
          cos_bucket: ${{ secrets.COS_BUCKET }}
          cos_region: ${{ secrets.COS_REGION }}
          local_path: build
          remote_path: docroot/static
          clean: true

      - name: A job to Compile Latex file
        uses: vinay0410/tectonic-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GSEC_TOKEN }}
        with:
          tex_path: 'dir\file.tex'
          push: 'yes' 